menu "WiFi Connection"
    config WIFI_ENABLED
        bool "WiFi enabled"
        default true
        
    config WIFI_HOST
        depends on WIFI_ENABLED
        string "WiFi Hostname"
        default "EmbeddedDeviceInterface"
        help 
            The WiFi hostname of the device
            
    config WIFI_SSID
        depends on WIFI_ENABLED
        string "WiFi SSID"
        help
            The SSID of the WiFi network to connect to

    config WIFI_PASS
        depends on WIFI_ENABLED
        string "WiFi Password"
        help
            The password of the WiFi network

    config WIFI_RETRY_ERROR_THRESHOLD
        depends on WIFI_ENABLED
        int "WiFi connection retry error threshold"
        default 5
        help
            The number of connection retries before an error is thrown
endmenu
menu "GPIO"
    choice  INPUT_PULL_MODE
        prompt "Select input pin pull mode"

        config INPUT_PULL_MODE_PULLUP
            bool "Pullup"

        config INPUT_PULL_MODE_PULLDOWN
            bool "Pulldown"
    endchoice
endmenu
menu "Task times"
    config ERROR_TASK_DELAY
        int "Error task delay [ms]"
        default 1000
        help
            The delay of the error task in ms
    
    config INPUT_TASK_DELAY
        int "Input task delay [ms]"
        default 100
        help
            The delay of the input task in ms

    config ANALOG_TASK_DELAY
        int "Analog measurement task delay [ms]"
        default 5000
        help
            The delay of the analog measurement task in ms
endmenu

