menu "GPIO"
    choice  INPUT_PULL_MODE
        prompt "Select input pin pull mode"

        config INPUT_PULL_MODE_PULLUP
            bool "Pullup"

        config INPUT_PULL_MODE_PULLDOWN
            bool "Pulldown"
    endchoice
endmenu

