menu "WiFi Connection"
    config WIFI_STATION_NAME
        string "Name of the station to connect to"
    
    config WIFI_STATION_PASSWORD
        string "Password of the station"

    menu "WiFi Task"
        config WIFI_TASK_STACK_DEPTH
            int "Depth of the stack allocated to the WiFi Task in WORDS"
            default 4000

        config WIFI_TASK_PRIORITY
            int "WiFi Task priority"
            default 5
    endmenu
endmenu